<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fit_Freak" >
        <activity
            android:name=".Activities.Work5"
            android:exported="false" />
        <activity
            android:name=".Activities.Work4"
            android:exported="false" />
        <activity
            android:name=".Activities.Work3"
            android:exported="false" />
        <activity
            android:name=".Activities.Work2"
            android:exported="false" />
        <activity
            android:name=".Activities.Work1"
            android:exported="false" />
        <activity
            android:name=".Activities.Add_Photo"
            android:exported="false" />
        <activity
            android:name=".Activities.Daily_log"
            android:exported="false" />
        <activity
            android:name=".Activities.Workout_Routine"
            android:exported="false" />
        <activity
            android:name=".Activities.Customize_Diet"
            android:exported="false" />
        <activity
            android:name=".Activities.Setting"
            android:exported="false" />
        <activity
            android:name=".Activities.SetTracker_Activity"
            android:exported="false" />
        <activity
            android:name=".Activities.SetReminder_Activity"
            android:exported="false" />
        <activity
            android:name=".Activities.Dashboard_Activity"
            android:exported="false" />
        <activity
            android:name=".Activities.Profile_main"
            android:exported="false" />
        <activity
            android:name=".Activities.Plan_Activity"
            android:exported="false" />
        <activity
            android:name=".Activities.User_detail"
            android:exported="false" />
        <activity
            android:name=".Activities.Signup_Activity"
            android:exported="false" />
        <activity
            android:name=".Activities.Login_Activity"
            android:exported="false" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>